@font-face{
    font-family: panthera;
    src: url(PantheraRegular-MVZ9J.ttf);
}
@font-face{
    font-family: beyno;
    src: url(BEYNO.ttf);
}
    
@font-face{
    font-family: wakanda;
    src: url(WakandaForever-Regular.ttf);
}
    
@font-face{
    font-family: cantarell;
    src: url(Cantarell-Regular.ttf);
}
    
