nav a:hover{
    text-decoration: underline;
    text-decoration-color: #F2CEF2;
}
nav a:current{
    color: #9E91B7;
    text-decoration: underline;
}

#envoyer:hover{
    filter: drop-shadow(0px 0px 20px #F2CEF2);

}

.envoyerContact:hover{
    filter: drop-shadow(0px 0px 20px #021740
    );

}

#marvel:hover, .logo:hover, .cercle2:hover, .cercle:hover, .icone.logo:hover{
    transform: scale(1.1);
}

#apropos a:hover{
    color: purple;
    text-decoration: underline;
}

.saynaLogo:hover{
    -webkit-filter: invert(80%) sepia(12%) saturate(6132%) hue-rotate(240deg) brightness(96%) contrast(94%);
    filter: invert(80%) sepia(12%) saturate(6132%) hue-rotate(240deg) brightness(96%) contrast(94%);
}

 

